*{
	margin: 0px;
	padding: 0px;
	/*Para que las cajas no se deborden unos a otros*/
	box-sizing: border-box;	
}
body{
	font-family: 'Montserrat', sans-serif;
    /*font-size: 1rem;*/
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}
a{
	text-decoration: none;
}

.contenido{
	/*Flex-box*/
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	flex-flow: column nowrap;
}
	.header{
		background-color: #000;

		height: 100vh;
		/*Flex-box*/
		display: flex;
		flex-flow: column nowrap;
	}
	
		.header-video{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			overflow: hidden;
			background-size: cover; 
			background-position: center 0px;
			background-repeat: no-repeat;
			overflow: hidden;
		}

		.header-video video{
			min-width: 100%;
			min-height: 100%;
		}

		.header-overlay{
			height: 100vh;
			width: 100vw;
			position: absolute;
			top: 0;
			left: 0;			
			background-color: #38415bcc;
			z-index: 1;
		}
		/*Stylo al menu*/	
		.backgroun-scroll{
			background-color: #303952eb;
		}	
					
		.menu{
			position: fixed;			
			display: flex;
			flex-flow: row nowrap;
			height: 35px;
			align-items: center;
			justify-content: space-between;
			padding: 35px;
			z-index: 3;
			width: 100%;
			transition: .3s;
		}
			.logo{
				/*background-color: #f95959;*/
				height: 40px;
				flex: 2 1;
			}
				.logo a{
					color: #fff;
					font-size: 24px;
				}
				.logo a:hover{
					color: grey;
				}

			.nav{
				height: 30px;
				flex: 1 2;
			}
				.nav a{
					color: #f95959;
					font-size: 18px;
					padding: 9px;
					-webkit-transition :all 500ms ease;
					-o-transition: all 500ms ease;
					-transition:all 500ms ease;
					font-weight: 900;
					
				}
				.nav a:nth-child(1){
					border-bottom:  #f95959 2px solid;
				}
				
				.nav a:hover{
					background-color: #f95959;
					border-radius: 8px;
					color: #fff;
					border-bottom:   #fff 1px solid;
				}

				.nav2{
					height: 30px;
					flex: 1 2;
				}
					.nav2 a{
						color: #fff;
						font-size: 18px;
						padding: 9px;
						-webkit-transition :all 500ms ease;
						-o-transition: all 500ms ease;
						-transition:all 500ms ease;
						font-weight: 900;
						border-bottom:  #f95959 1px none;
					}
					.nav2 a:nth-child(1){						
						background-color: #f95959;
						border-radius: 8px;
						color: #fff;
						border-bottom:   #fff 1px solid;
					}
					
					.nav2 a:hover{
						background-color: #f95959;
						border-radius: 8px;
						color: #fff;
						border-bottom:   #fff 1px solid;
					}

			.btnentrar{
				color: #fff;
				font-size: 17px;						
				background-color: #f95959;
				text-align: center;
				padding: 7px;
				width: 89px;
				border-radius: 5px;
				-webkit-transition :all 500ms ease;
				-o-transition: all 500ms ease;
				font-weight: 900;
				-transition:all 500ms ease;
			}	
			.btnentrar:hover{
				background-color: #ae4e4e;
				border-bottom:   #fff 1px solid;
			}
		.texto-principal{
			/*background-color: #f07b3f;*/
			height: 70%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			z-index: 2;
		}
			.text-steeve{
				font-size: 111px;
    			color: #dc5050;
    			font-weight: 100;
    			text-shadow: 1px 3px 8px #672121;
    			margin-top: 245px;
    			font-family: 'Archivo black', sans-serif;				
			}
			.subtext{
				color: white;
    			font-size: 39px;
    			width: 547px;
    			text-align: center;
			}
			.subtext2{
				text-align: center;
    			font-size: 25px;
    			color: #f95959;
    			width: 771px;
    			padding: 30px;
			}
	.section{
		/*background-color: #000;*/
		display: flex;
		flex-flow: column nowrap;
		background-color: #fff;
		padding: 0px;
		margin: 0px;
		z-index: 1;

	}
	.cab_topico{
		background-color: #d6d5d4;
		height: 120px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}	
		.title-topico{
			font-size: 26px;
		}
	.cont_topico{
		background-color: #f7f7f7;
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: 500px;
	}

		.topic{
			width: 270px;
    		margin: 25px 40px 0px 40px;
			display: flex;
			height: 440px;
    		flex-direction: column;
    		align-items: center;
			text-align: center;
			-webkit-transition :all 500ms ease;
			-o-transition: all 500ms ease;
			-transition:all 500ms ease;

		}
		.topic:hover{
			background-color: #d8d8d8;
    		height: 440px;
    		border-bottom: #f35858 solid 6px;
    		border-top: #f35858 solid 6px;
    		border-radius: 16px;
			box-shadow: 1px 1px 35px #231212;
		}
			.btn-vertopic{
				background-color: #f35858;
    			font-size: 15px;
    			padding: 6px;
    			width: 89px;
    			border-radius: 5px;
    			color: white;
				margin-top: 20px;
				-webkit-transition :all 500ms ease;
				-o-transition: all 500ms ease;
				-transition:all 500ms ease;
			}
			.btn-vertopic:hover{
				background-color: #bb4e4e;
    			border-bottom: 2px solid white;
			}

			.img-html{
				width: 225px;
			}
			.img-js{
				width: 200px;
			}
			.img-css{
				width: 200px;
			}

	.article_dos{
		display: flex;
		flex-direction: column;				
		background-image:  url("../img/fondo.jpg");
		background-attachment:fixed;
		background-size:cover!important;
		background-position:center;
		background-blend-mode:screen;					
	}				
		.cab_topico-dos{
			background-color: #c5c5c5;
			display: flex;
			flex-direction: row;
			padding: 15px;
			justify-content: center;
			height: 60px;
		}
		.cont_topico_dos{
			background-color: #242f42bf;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-content: center;
			height: 500px;
		}
			
			.title-un-basico{
				font-size: 13px;
				color: #fff;
				font-family: monospace;				
			}
			.title-na-basico{
				font-size: 20px;
    			color: #fff;
    			background-color: #f35858;
    			width: 317px;
    			padding: 7px;
    			border-radius: 7px;
    			margin-top: 9px;
			}
			.prof-text{
				color: #e85a5a;				
				margin-top: 19px;
				font-size: 18px;
				font-family: monospace;
				font-weight: 100;
			}
			.text-basico{
				color: #fff;
				margin-top: 11px;
			}
			.iconos-rede{
				margin-top: 10px;
    			padding: 18px 0px 18px 0px;
			}
			.icons-flower{
				margin-left: 25px;
				font-family: monospace;
				font-size: 15px;
				color: #fff;
			}
			.icons-flower:hover{
				color: #f35858;
			}
				.btn-ver-ste{
					color: #fff;
    				background-color: #f35858;    			
    				padding: 8px 18px 8px 17px;
    				border-radius: 6px;
    				font-size: 15px;
				}
				.btn-ver-ste:hover{
					background-color:#c14848;
				}
		.content-img-steeve{
			/*background-color: red;*/
			width: 500px;
			padding: 25px 0px 0px 0px;
		}
		.content-img-steeve img{			
			width: 450px;
    		height: 450px;
    		border-radius: 264px;
		}
		.content-imformation-steeve{
			width: 350px;
			padding: 37px 0px 0px 0px;
		}

		
	.img-steeve{
		widows: 300px;
		height: 150px;
	}
	.article-tres{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 50px;
		text-align: center;
	}
	
		.cont-expresao{
			width: 900px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.barrinha{
			width: 200px;
    		height: 5px;
    		background-color: #ae4e4e;
			border-radius: 15px;
			-webkit-transition :all 500ms ease;
			-o-transition: all 500ms ease;
			-transition:all 500ms ease;
		}
		.barrinha-linda{
			width: 300px;
    		height: 5px;
			background-color: #ae4e4e;
			border-radius: 15px;
			-webkit-transition :all 500ms ease;
			-o-transition: all 500ms ease;
			-transition:all 500ms ease;
		}
	.article-quatro{
		display: flex;
		background-image:  url("../img/fondo.jpg");
		background-attachment:fixed;
  		background-size:cover!important;
  		background-position:center;
  		background-blend-mode:screen;		
		flex-direction: column;
		justify-content: center;
		text-align: center;
		height: 500px;
	}
		.overland-project{
			height: 100vh;
			width: 100vw;
			position: relative;
			top: 0;
			left: 0;			
			background-color:#38415b78;
			z-index: 3;
		}

		.tit-cab-project{
			text-align: center;
    		/*background-color: #ececec05;*/
    		padding: 20px;
    		color: #fff;
    		font-size: 25px;
		}
		.content-proj{
			display: flex;
			flex-direction: row;
			align-content: center;
			padding: 20px;
			text-align: center;
			height: 350px;
			justify-content: center;
		}
			.title-proj{
				color: #fff;
			}
		.project{
			padding: 20px;
			-webkit-transition :all 500ms ease;
			-o-transition: all 500ms ease;
			-transition:all 500ms ease;
			height: 307px;
		}	
		.project:hover{
			background-color: #c1c1ce1a;
			border-radius: 122px;
			height: 307px;
			border-top: 10px solid #ce4747;
		}
		.img-project{
			width: 200px;
			height: 200px;
			border-radius: 100px;
			box-shadow: 0px 0px 35px black;
		}
		.btn-masproject{
    		padding: 10px 33px 10px 33px;
    		border-radius: 6px;
    		background-color: #f35858;
    		color: #fff;
    		font-size: 15px;
		}
	.article-contact{
		background-color: #c5c5c5;
		z-index: 2;
		height: 470px;
	}
	.contactos{
		margin-right: 102px;
		width: 400px;
	}
	.textos{
		width: 450px;
		height: 30px;
		border: none;
		border-radius: 7px;
		padding: 5px;			
	}
	.inf-ender{
		color: #672121;
		font-weight: bold;
	}
	.texto-mensaje{
		border: none;
		width: 450px;
		height: 90px;
		border-radius: 7px;
		padding: 5px;
	}
	.fale-comigo{
		text-align: center;
		padding: 25px;
	}
	.btn-enviar{
		background-color: #f35858;
		font-size: 15px;
		padding: 8px;
		width: 89px;
		border-radius: 5px;
		color: white;
		border: none;
		-webkit-transition :all 500ms ease;
		-o-transition: all 500ms ease;
		-transition:all 500ms ease;
	}
	.btn-enviar:hover{
		background-color: #bb4e4e;
		border-bottom: 2px solid white;
	}
	.content-contacto{
		display: flex;		
		flex-direction: row;
		align-content: center;
		justify-content: space-between;
		padding: 15px 100px 15px 100px;
	}
	.footer{
		background-color: #242f42;
		display: flex;
		flex-flow: row nowrap;
		height: 10px;
		align-items: center;
		justify-content: space-between;
		padding: 28px;
		z-index: 2;
	}
		.social{			
			width: 250px;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}
		.cpyright{
			color: #fff;
			font-size: 14px;
		}
		.nav-footer a{
			color: #fff;
			padding-left: 15px;
			font-size: 14px;
		}
		.ic-facebook span{			
			color: #fff;
			font-size: 20px;
			-webkit-transition :all 500ms ease;
			-o-transition: all 500ms ease;
			-transition:all 500ms ease;
		}
		.ic-facebook span:hover{			
			color: #fff;
			font-size: 20px;
			background-color: #4473a5;
			padding: 5px;
			border-radius: 8px;;
		}
		.ic-telegram span{			
			color: #fff;
			font-size: 20px;
			-webkit-transition :all 500ms ease;
			-o-transition: all 500ms ease;
			-transition:all 500ms ease;
		}
		.ic-telegram span:hover{			
			color: #fff;
			font-size: 20px;
			background-color: #4473a5;
			padding: 5px;
			border-radius: 8px;;
		}
		.ic-twitter span{			
			color: #fff;
			font-size: 20px;
			-webkit-transition :all 500ms ease;
			-o-transition: all 500ms ease;
			-transition:all 500ms ease;
		}
		.ic-twitter span:hover{			
			color: #fff;
			font-size: 20px;
			background-color: #2ca9e1;
			padding: 5px;
			border-radius: 8px;;
		}
		.ic-google-plus span{			
			color: #fff;
			font-size: 20px;
			-webkit-transition :all 500ms ease;
			-o-transition: all 500ms ease;
			-transition:all 500ms ease;
		}
		.ic-google-plus span:hover{			
			color: #fff;
			font-size: 20px;
			background-color: #bb3c3c;
			padding: 5px;
			border-radius: 8px;;
		}
		.ic-vimeo span{			
			color: #fff;
			font-size: 20px;
			-webkit-transition :all 500ms ease;
			-o-transition: all 500ms ease;
			-transition:all 500ms ease;
		}
		.ic-vimeo span:hover{			
			color: #fff;
			font-size: 20px;
			background-color: #4473a5;
			padding: 5px;
			border-radius: 8px;;
		}


@media all and (max-width: 800px){
	.nav{
		height: 32px;
	}


	.topic {
		width: 270px;
		margin: 25px 0px 0px 0px;
		display: flex;
		height: 440px;
		flex-direction: column;
		align-items: center;
		text-align: center;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}
	.cont_topico {
		background-color: #e6e6e5;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		height: 500px;
		align-items: center;
	}
	.footer{
		background-color: #f07b3f;
	}
}
#container {
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}